*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.conta .ic i{
    width: 15px;
height: 13.75px;
color: white;
}
.conta{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    padding: 24px 80px;
    background: rgb(43, 56, 68);
}
.ic{
    display: flex;
    gap: 2px;
    align-items: center;
}
h1{
    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 24px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0px;
}
h3{
    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 16px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0px;
}
input{
    border-radius: 5px;

box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
background: rgb(43, 56, 68);
width: 480px;
height: 56px;
color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
border: 0;
    outline: 0;
    text-indent: 74px;
}
.inp{
    position: relative;
}
main{
    padding: 48px 80px;
}
.s1{
    
    background: rgb(32, 44, 54);
}
.inp i{
    position: absolute;
    top: 50%;
    transform: translate(-50% , -50%);
    left: 32px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    justify-content: space-between;
    gap:30px ;
}
.card{
    width: 264px;
height: 336px;
border-radius: 5px;

box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
background: rgb(43, 56, 68);
display: flex;
flex-direction: column;
}
.card img{
    width: 267px;
height: 160px;
margin-bottom: 24px;
border-radius: 5px;
} 
h2{
    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 18px;
font-weight: 800;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
 margin-left: 24px;
}
p{
    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 14px;
font-weight: 300;
line-height: 16px;
letter-spacing: 0px;
text-align: left;
margin-top: 16px;
  margin-left: 24px;
}
@media (max-width:572px) {
    header{
        padding: 30px 16px;
    }
    .s1{
        padding: 24px 0px;
    }
    .cards{
        align-items: center;
        justify-content: center;
    }
    .inp{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inp i{
        left: 80px;
    }
}   
main{
    background: rgb(32, 44, 54);
    padding: 80px;
}
.buttona{
    border-radius: 6px;
background: rgb(43, 56, 68); 
width: 136px;
height: 40px;
display: flex;
align-items: center;

padding: 10px 32px; 
}
.buttona i{
    width: 20px;
    height: 20px;
    color:  white;
} 
h5{
    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 16px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
}
.bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom img{
    width: 560px;
height: 401px;
border-radius: 5px;
}

.orta{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}
.divs{
    display: flex;
    margin-top: 68px;   
    gap: 11px;
    align-items: center;
    
}
h4{
    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 32px;
font-weight: 800;
line-height: 44px;
letter-spacing: 0px;
text-align: left;
margin-left: 22px;
}
.box{
    border-radius: 2px;

box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
background: rgb(43, 56, 68);
width: 96px;
height: 28px;
color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 14px;
font-weight: 300;
line-height: 19px;
letter-spacing: 0px;
text-align: left;
display: flex;
align-items: center;
justify-content: center;
}
@media (max-width:572px) {
    header{
        padding: 30px 16px;
    }
    .s2{
        padding: 40px 28px;
    }
    .bottom img{
    /* width: 320px; */
    height: 229px;
    margin-bottom:  44px ;
        
        
    } 
    .bottom{
        flex-direction: column;
        justify-content: center;  
    }
    .orta{
        flex-direction: column;
    }
}